* {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(68, 68, 68);
    color: #fff;
    text-align: center;
    padding-top: 55px;
    width: 100%;
    height: 355px;
    font-size: 25px;
}
main {
    text-align: center;
    padding-top: 25px;
}
main.days {
    display: flex;
    flex-direction: row;
}
.description {
    font-size: 17px;
}
.links {
    text-align: left;
    padding-top: 55px;
    padding-left: 15px;
}
.content {
    font-size: 18px;
}
a {
    text-decoration: none;
    font-size: 17px;
}
a:hover {
    border-bottom: 1px solid #00f !important;
}
img {
    width: 50vw;
    aspect-ratio: 1/1;
}